body {
  height: 100vh;
  background-color: black;
  margin: 0;
  overflow: hidden;
  display: grid;
  place-items: center;
}

.line {
  display: flex;
  justify-content: space-between;
}

.word {
  color: white;
  font-size: clamp(2rem, 8vw, 10rem);
  font-family: "Rubik", sans-serif;
  margin: 0;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.fancy span {
  display: inline-block;
}

.fancy > .outer {
  transition: transform 350ms ease;
}

.fancy:hover > .outer {
  transition-duration: 800ms;
}

.fancy:hover > .outer > .inner {
  animation: float 5s ease infinite; /* Keep float animation */
}

.fancy > .outer > .inner > .letter {
  color: white; /* Ensure letters remain white */
}

/* Float animation */
@keyframes float {
  from, to {
    transform: translateY(-0%);
  }
  
  50% {    
    transform: translateY(-3%);
  }
}
